In [2]:
# Q1) Create a series ‘S’ with values [5, 6, 7, 8, 9] and Print 
#I. Values of S?
#II. Indexes of S?
#III. S[1]
#IV. Type (S) 
import pandas as pd
S = pd.Series([5, 6, 7, 8, 9])
print(S)
print(S.index)
print(S[1])
print(type(S))

0    5
1    6
2    7
3    8
4    9
dtype: int64
RangeIndex(start=0, stop=5, step=1)
6
<class 'pandas.core.series.Series'>

In [3]:
# Q2) Create a series ‘T’ with values [7,8,9,10,11,12] and index of ['abi','def','ghi','jik','kjh','qwr'] Print 
# I. Values of S?
# II. Indexes of S?
# III. T[1]
# IV. T[‘abi’] and T[‘kjh’]
# V. T['def': 'kjh']
# VI. Update T[‘kjh’] to 200
# VII. Add T[‘mnc’] as 2000
import pandas as pd
T = pd.Series([7, 8, 9, 10, 11, 12], index=['abi', 'def', 'ghi', 'jik', 'kjh', 'qwr'])
print(T)
print(T.index)
print(T[1])
print(T['abi'])
print(T['kjh'])
print(T['def':'kjh'])
T['kjh'] = 200
print(T)
T['mnc'] = 2000
print(T)

abi     7
def     8
ghi     9
jik    10
kjh    11
qwr    12
dtype: int64
Index(['abi', 'def', 'ghi', 'jik', 'kjh', 'qwr'], dtype='object')
8
7
11
def     8
ghi     9
jik    10
kjh    11
dtype: int64
abi      7
def      8
ghi      9
jik     10
kjh    200
qwr     12
dtype: int64
abi       7
def       8
ghi       9
jik      10
kjh     200
qwr      12
mnc    2000
dtype: int64

In [4]:
# Q3) Create dictionary of {'abi': 7, 'def': 8, 'ghi': 9, 'jik': 12, 'kjh': 11} and series with values 
# [7,8,9,10,11,12] and indexes of ['abi','def','ghi','jik','kjh','jik']. Identify any observed 
# difference from both structures?
d = {'abi': 7, 'def': 8, 'ghi': 9, 'jik': 12, 'kjh': 11}
import pandas as pd
s = pd.Series([7, 8, 9, 10, 11, 12], index=['abi', 'def', 'ghi', 'jik', 'kjh', 'jik'])
print(s)
d = {'abi': 7, 'def': 8, 'ghi': 9, 'jik': 12, 'kjh': 11, 'jik': 10}
print(d)

abi     7
def     8
ghi     9
jik    10
kjh    11
jik    12
dtype: int64
{'abi': 7, 'def': 8, 'ghi': 9, 'jik': 10, 'kjh': 11}

In [5]:
# Q4) Convert dictionary of {'mumbai':10000, 'kashmir':5000,'delhi':3000} to series?
import pandas as pd

d = {'mumbai':10000, 'kashmir':5000, 'delhi':3000}
s = pd.Series(d)
print(s)

mumbai     10000
kashmir     5000
delhi       3000
dtype: int64

In [6]:
# Q5) create d = pd.Series(range(10,20), index=range(100,120,2)) and print
# I. d.loc[110]
# II. d.iloc[5]
# III. d[110]
import pandas as pd
d = pd.Series(range(10, 20), index=range(100, 120, 2))
print(d.loc[110])
print(d.iloc[5])
print(d[110])

15
15
15

In [7]:
# Q6) create s1 = pd.Series([1,2,3,4]) and s2 = pd.Series(['a','b','c','d']) and then create a dataframe 
# with ‘name’ column and s2 as values and ‘age’ column and s1 as values
import pandas as pd

s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'])

df = pd.DataFrame({'name': s2, 'age': s1})
print(df)

  name  age
0    a    1
1    b    2
2    c    3
3    d    4

In [8]:
# Q7) create s1 = pd.Series([1,2,3,4]) and s2 = pd.Series(['a','b','c','d'],index=[4,5,6,7]) and then 
# create a dataframe with ‘name’ column and s2 as values and ‘age’ column and s1 as values
import pandas as pd

s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'], index=[4, 5, 6, 7])

df = pd.DataFrame({'name': s2, 'age': s1})
print(df)

  name  age
0  NaN  1.0
1  NaN  2.0
2  NaN  3.0
3  NaN  4.0
4    a  NaN
5    b  NaN
6    c  NaN
7    d  NaN

In [9]:
# Q8) Create data = array([[5, 5, 2, 4, 5], [0, 0, 4, 5, 6], [3, 8, 3, 5, 4], [0, 9, 0, 9, 0],[4, 3, 7, 6, 5]]) and 
# create ‘df’ from data and column names as ['c1','c2','c3','c4','c5'] and ['r1','r2','r3','r4','r5']
# I. df[:2]
# II. df['c1']
# III. df['c1']['r1']
# IV. df[:: 2]
import pandas as pd
import numpy as np

data = np.array([[5, 5, 2, 4, 5], [0, 0, 4, 5, 6], [3, 8, 3, 5, 4], [0, 9, 0, 9, 0],[4, 3, 7, 6, 5]])

df = pd.DataFrame(data, columns=['c1', 'c2', 'c3', 'c4', 'c5'], index=['r1', 'r2', 'r3', 'r4', 'r5'])

print(df[:2])
print(df['c1'])
print(df['c1']['r1'])
print(df[::2])

    c1  c2  c3  c4  c5
r1   5   5   2   4   5
r2   0   0   4   5   6
r1    5
r2    0
r3    3
r4    0
r5    4
Name: c1, dtype: int32
5
    c1  c2  c3  c4  c5
r1   5   5   2   4   5
r3   3   8   3   5   4
r5   4   3   7   6   5

In [10]:
# Q9)  From previous question create ‘test.csv’ from ‘df’
df.to_csv('test.csv')

In [11]:
# Q10) 
import pandas as pd

area = pd.Series({'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995})
popu = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135})

data = pd.DataFrame({'area':area, 'popu':popu})

# I. Select ‘area’ column
print(data['area'])

# II. Select ‘popu’ column
print(data['popu'])

# III. Create density column by doing popu / area operation
data['density'] = data['popu'] / data['area']
print(data['density'])

# IV. Create new column ‘zipcode’ with values [1,2,3,4,5]
data['zipcode'] = [1,2,3,4,5]
print(data)

# V. data.T
print(data.T)

# VI. data.iloc[2:4,:2]
print(data.iloc[2:4, :2])

# VII. data.iloc[3,2]
print(data.iloc[3, 2])

# VIII. data.loc[‘Florida’,’density’]
print(data.loc['Florida', 'density'])

# IX. data[‘density’][‘Florida’]
print(data['density']['Florida'])

# X. write a for loop to print every element of data
for i in data.index:
    for j in data.columns:
        print(f"{i} {j}: {data.loc[i,j]}")

# XI. data.columns
print(data.columns)

# XII. data.index
print(data.index)

# XIII. data.iloc[0,0]
print(data.iloc[0,0])

# XIV. data[‘area’][2]
print(data['area'][2])

# XV. data[‘popu’][‘Florida’]
print(data['popu']['Florida'])

# XVI. data.loc['Florida':'New York']
print(data.loc['Florida':'New York'])

# XVII. data.loc['New York':'Florida']
print(data.loc['New York':'Florida'])

# XVIII. select dataframe when density > 100
print(data[data['density'] > 100])

# XIX. print zipcode where density > 100
print(data[data['density'] > 100]['zipcode'])

# XX. data[1:3]
print(data[1:3])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: popu, dtype: int64
California     90.413926
Texas          38.018740
New York      139.076746
Florida       114.806121
Illinois       85.883763
Name: density, dtype: float64
              area      popu     density  zipcode
California  423967  38332521   90.413926        1
Texas       695662  26448193   38.018740        2
New York    141297  19651127  139.076746        3
Florida     170312  19552860  114.806121        4
Illinois    149995  12882135   85.883763        5
           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
popu     3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01
zipcode  1.000000e+00  2.000000e+00  3.000000e+00  4.000000e+00  5.000000e+00
            area      popu
New York  141297  19651127
Florida   170312  19552860
114.80612053173
114.80612053173
114.80612053173
California area: 423967
California popu: 38332521
California density: 90.41392608386974
California zipcode: 1
Texas area: 695662
Texas popu: 26448193
Texas density: 38.01874042279153
Texas zipcode: 2
New York area: 141297
New York popu: 19651127
New York density: 139.07674614464568
New York zipcode: 3
Florida area: 170312
Florida popu: 19552860
Florida density: 114.80612053173
Florida zipcode: 4
Illinois area: 149995
Illinois popu: 12882135
Illinois density: 85.88376279209307
Illinois zipcode: 5
Index(['area', 'popu', 'density', 'zipcode'], dtype='object')
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
423967
141297
19552860
Empty DataFrame
Columns: [area, popu, density, zipcode]
Index: []
            area      popu     density  zipcode
New York  141297  19651127  139.076746        3
Florida   170312  19552860  114.806121        4
            area      popu     density  zipcode
New York  141297  19651127  139.076746        3
Florida   170312  19552860  114.806121        4
New York    3
Florida     4
Name: zipcode, dtype: int64
            area      popu     density  zipcode
Texas     695662  26448193   38.018740        2
New York  141297  19651127  139.076746        3