In [1]:
import pandas as pd

# Q1.Create the DataFrame
test_df = pd.DataFrame({'location': ['Bangalore', 'Mumbai', 'Hyderabad', 'Bangalore', 'Mumbai', 'Hyderabad'], 
                        'Sales': [1000,2000,3000,4000,5000,6000]}, 
                       columns=['location', 'Sales'])

# I. Identify Locationwise sales
locationwise_sales = test_df.groupby('location')['Sales'].sum()
print(locationwise_sales)

# II. Identify Locationwise avg. sales
locationwise_avg_sales = test_df.groupby('location')['Sales'].mean()
print(locationwise_avg_sales)

# III. Identify test_df.mean() and what does this value mean?
df_mean = test_df.mean()
print(df_mean)

# IV. select data belonging to locations greater than 3000 avg. sales
high_avg_sales = test_df.groupby('location').filter(lambda x: x['Sales'].mean() > 3000)
print(high_avg_sales)

# V. select data where sales greater than 3000
high_sales = test_df[test_df['Sales'] > 3000]
print(high_sales)

location
Bangalore    5000
Hyderabad    9000
Mumbai       7000
Name: Sales, dtype: int64
location
Bangalore    2500.0
Hyderabad    4500.0
Mumbai       3500.0
Name: Sales, dtype: float64
Sales    3500.0
dtype: float64
    location  Sales
1     Mumbai   2000
2  Hyderabad   3000
4     Mumbai   5000
5  Hyderabad   6000
    location  Sales
3  Bangalore   4000
4     Mumbai   5000
5  Hyderabad   6000

C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\1257546984.py:17: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mean = test_df.mean()

In [2]:
import pandas as pd

# Q2.Create the DataFrame
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)}, columns=['key', 'data'])

# I. value counts of 'key' column
print(df['key'].value_counts())

# II. groupby on 'key' column
print(df.groupby('key'))

# III. groupby on 'key' column and sum 'data' column
print(df.groupby('key').sum())

# IV. groupby on 'key' column and count rows
print(df.groupby('key').count())

# V. mean of DataFrame along rows (axis=0)
print(df.mean(axis="rows"))

# VI. mean of DataFrame along columns (axis=1)
print(df.mean(axis=0))

# VII. mean of all numeric columns in DataFrame
print(df.mean())

# VIII. groupby on 'key' column and calculate mean of 'data' column for each group
print(df.groupby('key').mean())

# IX. groupby on 'key' column and select the first row of each group
print(df.groupby('key').first())

# X. groupby on 'key' column and calculate mean absolute deviation of 'data' column for each group
print(df.groupby('key').mad())

A    2
B    2
C    2
Name: key, dtype: int64
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020AF6E0AE80>
     data
key
A       3
B       5
C       7
     data
key
A       2
B       2
C       2
data    2.5
dtype: float64
data    2.5
dtype: float64
data    2.5
dtype: float64
     data
key
A     1.5
B     2.5
C     3.5
     data
key
A       0
B       1
C       2
     data
key
A     1.5
B     1.5
C     1.5

C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:19: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean(axis="rows"))
C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:22: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean(axis=0))
C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:25: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())
C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:34: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  print(df.groupby('key').mad())
C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:34: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  print(df.groupby('key').mad())
C:\Users\Arshith kumar\AppData\Local\Temp\ipykernel_32704\296011442.py:34: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  print(df.groupby('key').mad())

In [3]:
import numpy as np
import pandas as pd

# Q3.Create the DataFrame
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 
                   'data1': range(6), 'data2': rng.randint(0, 10, 6)}, 
                  columns = ['key', 'data1', 'data2'])

# I. get min values of data1 and data2 group wise
print(df.groupby('key').min())

# II. get min, max, sum and median values of data1 and data2 group wise
print(df.groupby('key').agg(['min', 'max', 'sum', 'median']))

# III. get min of data1 and max of data2 group wise
print(df.groupby('key').agg({'data1': 'min', 'data2': 'max'}))

     data1  data2
key
A        0      3
B        1      0
C        2      3
    data1                data2
      min max sum median   min max sum median
key
A       0   3   3    1.5     3   5   8    4.0
B       1   4   5    2.5     0   7   7    3.5
C       2   5   7    3.5     3   9  12    6.0
     data1  data2
key
A        0      5
B        1      7
C        2      9

In [4]:
#Q4.Explain the functionality of following statements
#I. df.groupby('key').filter(lambda x: x['data2'].mean() < 4)
#II. df.groupby('key').filter(lambda x: x['data2'].mean() <= 4)

The filter() method in pandas is used to subset the groups based on some condition.

In both statements, groupby() method is applied to the DataFrame df to group the data by the column 'key'. 
Then, filter() method is used to subset the groups based on a condition specified as a lambda function.

In the first statement, the lambda function lambda x: x['data2'].mean() < 4 calculates the mean of 'data2' column for each group, 
and filters only those groups where the mean value is less than 4. So, the resulting DataFrame will contain only the rows where
the group's mean value of 'data2' is less than 4.

In the second statement, the lambda function lambda x: x['data2'].mean() <= 4 also calculates the mean of 'data2' column for
each group, but includes groups where the mean value is less than or equal to 4. So, the resulting DataFrame will contain only
the rows where the group's mean value of 'data2' is less than or equal to 4.

SyntaxError: invalid syntax (2705891868.py, line 5)

In [5]:
#Q5.Execute df.groupby('key').filter(lambda x: x['data1'].std() > 4) and explain the output

The code df.groupby('key').filter(lambda x: x['data1'].std() > 4) performs the following steps:

1.Group the rows of the DataFrame df by the values in the column 'key'.
2.For each group, calculate the standard deviation of the values in the 'data1' column using the std() method.
3.Keep only the groups where the standard deviation of 'data1' is greater than 4, using the filter() method.
The resulting DataFrame will contain only those rows where the corresponding group has a standard deviation greater than 4 
for the 'data1' column. This means that the output DataFrame will only contain rows where the values in the 'data1' column are 
more spread out across the group, indicating a higher degree of variability or diversity in the data.

Therefore, the output of df.groupby('key').filter(lambda x: x['data1'].std() > 4) will be a DataFrame with the same columns as 
df, but only with the rows where the standard deviation of 'data1' for the corresponding group is greater than 4.

SyntaxError: invalid syntax (3431961376.py, line 3)

In [6]:
#Q6.Execute df.groupby('key').transform(lambda x : x + x.mean())

The code df.groupby('key').transform(lambda x : x + x.mean()) performs the following steps:

1.Group the rows of the DataFrame df by the values in the column 'key'.
2.For each group, calculate the mean value of each column using the mean() method.
3.Subtract the mean value from each element in the group, using the transform() method with a lambda function.
The resulting DataFrame will have the same shape as df, but with the values in each group replaced by the original value
plus the mean value of the corresponding group. This means that each element in the resulting DataFrame will be shifted towards
the mean of its corresponding group.

SyntaxError: invalid syntax (3725741629.py, line 3)

In [7]:
#Q7.in df, create column data3 with square of data1
df['data3'] = df['data1'] ** 2

In [8]:
#Q8.Explain the functionality of following statements
#I. df.groupby('key').filter(fun)
#where def fun(x):
#return x['data2'].mean() <=4
#II. df.groupby('key').apply(f)
#where def f(x):
#x['data1'] = x['data2'].sum() + x['data2'].mean()
#return x
#III. df.groupby('key').apply(f)
#where def f(d):
#d['new'] = d['data1'] + d['data2'].sum()
#return d

I. df.groupby('key').filter(fun) applies a filtering function fun to each group in df that groups the DataFrame by the values
in the 'key' column. The fun function takes a DataFrame as input, and returns a boolean value indicating whether the mean of 
the 'data2' column in that DataFrame is less than or equal to 4. The filter method returns a new DataFrame that includes only 
the groups where the fun function returns True.

II. df.groupby('key').apply(f) applies a function f to each group in df that groups the DataFrame by the values in the 'key'
column. The f function takes a DataFrame as input and modifies it by adding a new column 'data1' which is equal to the sum of
the 'data2' column and the mean of the 'data2' column in that group. The apply method returns a new DataFrame that includes
the modified groups.

III. df.groupby('key').apply(f) applies a function f to each group in df that groups the DataFrame by the values in the 'key'
column. The f function takes a DataFrame as input and modifies it by adding a new column 'new' which is equal to the sum of 
the 'data1' column and the sum of the 'data2' column in that group. The apply method returns a new DataFrame that includes
the modified groups.

SyntaxError: invalid syntax (3581947273.py, line 14)