In [ ]:
List comprehension

lambda

map

filter

In [ ]:
input_list=[10,20,30,40,50]

#[100,400,900,1600,2500]

In [ ]:
out_list=[]
for i in input_list:
    print(i*i)
    out_list.append(i*i)

In [ ]:
Loop

list creation

In [ ]:
[i*i for i in input_list] #list comprehension

In [ ]:
input_list=[1,2,3,4]
list=[]
for i in input_list: 
    if i%2==0:
        list.append(i)

In [ ]:
input_list=[1,2,3,4]

[i for i in input_list if i%2==0 ]

In [ ]:
[i*i for i in input_list]

In [ ]:
out_list

In [ ]:
what is the difference between an expression and an equation?

In [ ]:
Algebra

variables..... constants

x,y..... 2,36

combination of variables and constants using * and / 

terms.... 2x,3y,2xy,3x**2

degree of term: 1,1,2,2

combinations of terms using + and -

expression

2x+3y,3x**2+2x+1

degree of an expression:1,2
    
y=mx+c

y=3x+2

equation of a st. line

linear degree 1

Non linear degree >1

if degree=2.... quadratic

if degree =3..... cubic

ax+by+c=0


expression with =,>,<

equation

In equality

In [1]:
l = [10,20,30,40,50]
for i in l:
    print(i)

10
20
30
40
50

In [ ]:
#printing elements list by list

In [2]:
for i in range(len(l)):
    print(l[i])

10
20
30
40
50

In [ ]:
#printing elements of list not by list element.... but using index

In [3]:
for i in l:
    print(i*i)

100
400
900
1600
2500

In [ ]:
input_l=[10,20,30,40,50]
output_l_1=[100,400,900,1600,2500]

In [4]:
l=[10,20,30,40,50]
l

[10, 20, 30, 40, 50]

In [5]:
l_1=[]

for i in l:
    l_1.append(i*i)

In [6]:
l_1

[100, 400, 900, 1600, 2500]

In [7]:
l_1=[]

for i in l:
    l_1.append(i*i)
    print(l_1)

[100]
[100, 400]
[100, 400, 900]
[100, 400, 900, 1600]
[100, 400, 900, 1600, 2500]

In [8]:
list_1=[100,400,900,1600,2500]

In [9]:
l_2=[]
for i in l:
    print(i*i)
    l_2.append(i*i)

100
400
900
1600
2500

In [10]:
l

[10, 20, 30, 40, 50]

In [11]:
given_list=[1,2,3]

In [ ]:
out_put_list=[ i*i  for i in given_list ] #list comprehension

In [ ]:
out_put_list

In [ ]:
output_squares=[i*i for i in l]

#[100 400]

output_squares

In [ ]:
output_squares=[i**3 for i in l]

#[100 400]

output_squares

In [ ]:
#list Comprehension

In [ ]:
"""
[]

[  for i in l]

[i*i for i in l]

list_4=[i*i for i in l]

[]

In [ ]:
l_2

In [ ]:
l_lc = [10,20,30,40,50]
l_lc

In [ ]:
l_3 = [i * i for i in l_lc]

In [ ]:
l_3

In [ ]:
#list Comprehension

In [ ]:
l2 = []
for value in l:
    l2.append(value * value)
print(l2)

In [ ]:
l = [10,20,30,40,50]
l2 = [value * value for value in l]
print(l2)

In [ ]:
i=[1,2,3,4]
len(i)

In [ ]:
s='python'
print(s)
len(s)

In [ ]:
l = ['abccdda','eededede','assasasasasasasa','zzzzzzzzzzzzzzzzzzz']

output=list with lenghts of corresponding strings

In [12]:
l = ['abccdda','eededede','assasasasasasasa','zzzzzzzzzzzzzzzzzzz']
l2 = [len(value) for value in l]
print(l2)

[7, 8, 16, 19]

In [ ]:
out=[]
for i in l:
    out.append(len(i))

In [ ]:
out

In [ ]:
l = [10,15,20,25,30,35,40,45]
for i in l:
    if i%2 ==0:
        print(i)

In [ ]:
l_1 = []
for i in l:
    if i%2 ==0:
        l_1.append(i)
        
l_1

In [13]:
l = [10,15,20,25,30,35,40,45]

[i for i in l if i%2==0]

[10, 20, 30, 40]

In [ ]:
#List Comprehension

l = [10,15,20,25,30,35,40,45]
l2 =[value for value in l if value%2 == 0]
print(l2)

In [ ]:
#List Comprehension

l = [10,15,20,25,30,35,40,45]
l2 =[value*value for value in l if value%2 == 0]
print(l2)

In [ ]:
l3 =[value for value in l if value%2 != 0]
print(l3)

In [ ]:
l = [10,15,20,25,30,35,40,45]

output = ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [14]:
l = [10,15,20,25,30,35,40,45]

['Even' if i%2 == 0 else 'Odd' for i in l]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:

l_2=[]
l = [10,15,20,25,30,35,40,45]
for value in l:
    if value %2==0:
        l_2.append('Even')
    else:
        l_2.append('Odd')

In [ ]:
l_2

In [ ]:
#'Even','Odd'

In [ ]:
#How many odds and evens number are there

#identifying even and odd numbers

#create a list with elements identifying whether corresponding input element is odd or even

In [ ]:
l = [10,15,20,25,30,35,40,45]
# l2 = ["Even","Odd","Even","Odd".....]
l2 = ["Even" if value %2 ==0 else "Odd" for value in l]
print(l2)

In [ ]:
#Y=f(x)

In [ ]:
"""
function

f(x)

f:A-->B    
    
is a rule
is a map

In [ ]:
lambda x: 3x+6

lambda x,y:2x+3y

In [ ]:
lambda input_variables:F(input_variables)

lambda x:2x+1

3.....7
5.....11

In [ ]:
lambda x: x**2+5x+4

lambda x,y:x**2+y

In [ ]:
[10,20,30,40,50]

fn

output = [fn(10), fn(20) ,fn(30) ,fn(40) ,fn(50)]

In [ ]:
Map
list=Map(fn,list)

In [15]:
def sqr(num1):
    return num1 * num1

sqr(20)

400

In [16]:
l = [10,20,30,40,50]

m = map(sqr,l)

#l = [10,20,30,40,50]
    #sqr(10) sqr(20) sqr(30) sqr(40) sqr(50)
#m= [sqr(10), sqr(20), sqr(30) ,sqr(40), sqr(50)]

In [17]:
m

In [18]:
print(m)

<map object at 0x000001682FE47FA0>

In [19]:
print(list(m))

[100, 400, 900, 1600, 2500]

In [ ]:
list(map(fn,l))

In [ ]:
"""
for i in list(m):
    print(i)

In [ ]:
m_1 = list(map(sqr,l))

m_1

In [20]:
l = ['abcd','ttttttt','zrrererere']
m = map(len,l)
print(list(m))

[4, 7, 10]

In [21]:
#function adding three numbers

def add(num1,num2,num3):
    return num1 + num2 + num3

In [22]:
#function multiplying three numbers

def mul(num1,num2,num3):
    return num1 *num2 * num3

In [23]:
l1 = [10,20,30,40,50]
l2 = [1,2,3,4,5,6,7,8]
l3 = [100,200,300,400,500,600]
m = map(add,l1,l2,l3)
print(list(m))

[111, 222, 333, 444, 555]

In [24]:
l1 = [10,20,30,40,50]
l2 = [1,2,3,4,5,6,7,8]
l3 = [100,200,300,400,500,600]
m = map(mul,l1,l2,l3)
print(list(m))

[1000, 8000, 27000, 64000, 125000]

In [25]:
#return true if it is even else it will return false

def even(num1):
    if num1 %2 == 0:
        return True
    else:
        return False

In [26]:
even(20)

True

In [27]:
even(15)

False

In [28]:
l = [10,15,20,25,30,35,40]

print(list(map(even,l)))   #creates a list with outputs of function taking input list elements

[True, False, True, False, True, False, True]

In [29]:
f = filter(even,l)

In [30]:
f

In [31]:
print(list(f))       # here function gives only true or false, based on that if it gives true.... that element will be filtered

[10, 20, 30, 40]

In [ ]:
l

In [33]:
#return true if it is odd else it will return falso

def even_1(num1):
    if num1 %2 == 0:
        return False
    else:
        return True

In [34]:
l = [10,15,20,25,30,35,40]
f = filter(even_1,l)

#[even_1(10),even_1(15),even_1(20),even_1(25),even_1(30),even_1(35),even_1(40)]

#[False,True,False,True,False,True,False]
##it will check input list
#[10,15,20,25,30,35,40]

#[10 not_included bcz output is False,15 included bcz output is True, 20 not_included,included,not_included,included,not_included]

#[15,25,35]

print(list(f))

[15, 25, 35]

In [35]:
#in python anything empty is considered as False
if []:
    print('hi')
    
else:
    print('hello')

hello

In [36]:
if [1,2,3]:
    print('hi')
    
else:
    print('hello')

hi

In [37]:
#any number other than 0 is considered as  True

if 0:
    print('hi')
    
else:
    print('hello')

hello

In [38]:
if 1:
    print('hi')
    
else:
    print('hello')

hi

In [39]:
if 100:
    print('hi')
    
else:
    print('hello')

hi

In [40]:
if [1,2]:
    print('hi')
    
else:
    print('hello')

hi

In [41]:
#always prints if statement only

if True:
    print('hi')
    
else:
    print('hello')

hi

In [42]:
#always prints else statement only

if False:
    print('hi')
    
else:
    print('hello')

hello

In [43]:
num=21
if num%2==0:
    print('hi')
    
else:
    print('hello')

hello

In [44]:
num=20
if num%2==0:
    print('hi')
    
else:
    print('hello')

hi

In [45]:
m = map(even,l)
print(list(m))

[True, False, True, False, True, False, True]

In [46]:
l=[1,2,3,4]

#which checks a single number 
def fn(num):
    if num%2==0:
        return True
    else:
        return False

list(filter(fn,l))

[2, 4]

In [ ]:
#expression
lambda x:x*x

In [47]:
l

[1, 2, 3, 4]

In [48]:
list(map(sqr,l))

[1, 4, 9, 16]

In [49]:
list(map(lambda x: x*x,l))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
#combination of lambda and map
l = [10,20,30,40,50]
#m=map(function,list)

#function:lambda num1:num1 * num1

m = map(lambda num1:num1 * num1 ,l)
print(list(m))


#to do operations on each element of a list 

#we create list by doing operations on each element of a list... using map lambda

In [50]:
l1 = [1,2,3,4,5]
l2 = [10,20,30,40,50]
l3 = [100,200,300,400,500]

m = map(lambda num1,num2,num3:num1+num2+num3,l1,l2,l3)
print(list(m))

[111, 222, 333, 444, 555]

In [51]:
l = [10,15,20,25,30,35,40]
f = filter(lambda num1: num1 %2 == 0 ,l)
print(list(f))

[10, 20, 30, 40]

In [52]:
for val1 in range(100,105):
    for val2 in range(1,5):
        print(val1,val2)

100 1
100 2
100 3
100 4
101 1
101 2
101 3
101 4
102 1
102 2
102 3
102 4
103 1
103 2
103 3
103 4
104 1
104 2
104 3
104 4

In [53]:
l2 = [(val1,val2) for val1 in range(100,105) for val2 in range(1,5)]
print(l2)

[(100, 1), (100, 2), (100, 3), (100, 4), (101, 1), (101, 2), (101, 3), (101, 4), (102, 1), (102, 2), (102, 3), (102, 4), (103, 1), (103, 2), (103, 3), (103, 4), (104, 1), (104, 2), (104, 3), (104, 4)]