# Tuples Assignment

1) Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)
Expected output:
(50, 40, 30, 20, 10)

In [1]:
aTuple=(10,20,30,40,50)
Tup_val=tuple(reversed(aTuple))
print(Tup_val)

(50, 40, 30, 20, 10)

2) Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
Expected output:
20

In [2]:
aTuple= ("Orange", [10, 20, 30], (5, 15, 25))
x=aTuple[1][1]
print(x)

20

3) Create a tuple with single item 50

In [3]:
tup=(50)
print(tup)

50

4) Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
Expected output:
aTuple = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

In [4]:
aTuple=(10,20,30,40)
a,b,c,d=aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

5) Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [5]:
tuple1=(11,22)
tuple2=(99,88)
tuple1,tuple2=tuple2,tuple1
print("tuple1 =",tuple1)
print("tuple2 =",tuple2)

tuple1 = (99, 88)
tuple2 = (11, 22)

6) Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [6]:
tuple1=(11,22,33,44,55,66)
tuple2=tuple1[3:5]
print(tuple2)

(44, 55)

7) Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [222, 33], 44, 55)

In [7]:
tuple1=(11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

8) Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
Expected output:
(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [8]:
tuple1=(('a', 23),('b', 37),('c', 11), ('d',29))
tuple1=tuple(sorted(list(tuple1),key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

9) Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
Expected output:
2

In [9]:
tuple1=(50, 10, 60, 70, 50)
c=tuple1.count(50)
print(c)

2

10) Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)
Expected output:
True

In [10]:
def check(t):
    return all(i == t[0] for i in t)
tuple1=(45,45,45,45)
print(check(tuple1))

True