In [ ]:
20 in [10,20,30] #membership operator

In [ ]:
20 in 200 #not iterable datatype

In [ ]:
list, string, tuples, sets, dictionary

In [ ]:
for i in list_1:
    print(i)
    
for i in string_1:
    print(i)

In [ ]:
list_1=[10,20,30,40,50]

for i in list_1:
    print(i)

In [ ]:
list_1=[10,20,30,40,50]

for i in list_1:
    print(i**2)

In [ ]:
my_string='Surge Classes - CMR'

for i in my_string:
    print(i)

In [ ]:
my_string='Surge Classes - CMR'

for i in my_string:
    print(i*2)

In [ ]:
num=2017
print(num)

In [ ]:
print('My Name is Surge Classes')

In [ ]:
music_1='srgmp'

music_2='aeaaa'

expected result

sa 
re 
ga 
ma 
pa

taking each character from music_1 and print it with corresponding character from music_2

'srgmp'

'aeaaa'

In [ ]:
#Loopings

#we are executing statements sequentially.... one after another.... iterative ..... repitative

In [1]:
list=[1,2,3,4,5]

In [2]:
list

[1, 2, 3, 4, 5]

In [ ]:
#printing elements of a list..... 
#print element by element

In [3]:
for i in list:
    print(i)

1
2
3
4
5

In [4]:
for i in list:
    print(i)
    print(2*i)

1
2
2
4
3
6
4
8
5
10

In [ ]:
"""
1st iteration
i=1

we can use i=1

2nd iteration
i=2

we can use i=2

In [5]:
list

[1, 2, 3, 4, 5]

In [6]:
for i in list:
    print('iteration',i)
    print(i)

iteration 1
1
iteration 2
2
iteration 3
3
iteration 4
4
iteration 5
5

In [7]:
list_1=[1,3,4,6,9]

#increment each number by 1 and print resultant

In [ ]:
Expected result

2
4
5
7
10

In [9]:
for i in list_1:
    print(i+1)

2
4
5
7
10

In [ ]:
for i in list_1:
    print(i+1)

In [10]:
for i in list_1:
    print('iteration',i)
    print(i+1)

iteration 1
2
iteration 3
4
iteration 4
5
iteration 6
7
iteration 9
10

In [ ]:
expected output:
    
iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [12]:
for i in [1,2,3,4,5]:
    print('iteration',i-1)
    print(i)

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [13]:
for i in [1,2,3,4,5]:
    print('iteration',i)
    print(i+1)

iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5
iteration 5
6

In [14]:
for i in [1,2,3,4,5]:
    print('iteration',i-1)
    print(i)
    
#desired

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [15]:
for i in [0,1,2,3,4]:
    print('iteration',i)
    print(i+1)
    
#desired

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [ ]:
[1,2,3,]

In [ ]:
[0,1,2,3,4]..... range(5)

In [16]:
range(5)

range(0, 5)

In [17]:
range(1,5)

range(1, 5)

In [18]:
for i in range(5):
    print('iteration',i)
    print(i+1)

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [19]:
for i in range(101):
    print('iteration',i)
    print(i+1)

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5
iteration 5
6
iteration 6
7
iteration 7
8
iteration 8
9
iteration 9
10
iteration 10
11
iteration 11
12
iteration 12
13
iteration 13
14
iteration 14
15
iteration 15
16
iteration 16
17
iteration 17
18
iteration 18
19
iteration 19
20
iteration 20
21
iteration 21
22
iteration 22
23
iteration 23
24
iteration 24
25
iteration 25
26
iteration 26
27
iteration 27
28
iteration 28
29
iteration 29
30
iteration 30
31
iteration 31
32
iteration 32
33
iteration 33
34
iteration 34
35
iteration 35
36
iteration 36
37
iteration 37
38
iteration 38
39
iteration 39
40
iteration 40
41
iteration 41
42
iteration 42
43
iteration 43
44
iteration 44
45
iteration 45
46
iteration 46
47
iteration 47
48
iteration 48
49
iteration 49
50
iteration 50
51
iteration 51
52
iteration 52
53
iteration 53
54
iteration 54
55
iteration 55
56
iteration 56
57
iteration 57
58
iteration 58
59
iteration 59
60
iteration 60
61
iteration 61
62
iteration 62
63
iteration 63
64
iteration 64
65
iteration 65
66
iteration 66
67
iteration 67
68
iteration 68
69
iteration 69
70
iteration 70
71
iteration 71
72
iteration 72
73
iteration 73
74
iteration 74
75
iteration 75
76
iteration 76
77
iteration 77
78
iteration 78
79
iteration 79
80
iteration 80
81
iteration 81
82
iteration 82
83
iteration 83
84
iteration 84
85
iteration 85
86
iteration 86
87
iteration 87
88
iteration 88
89
iteration 89
90
iteration 90
91
iteration 91
92
iteration 92
93
iteration 93
94
iteration 94
95
iteration 95
96
iteration 96
97
iteration 97
98
iteration 98
99
iteration 99
100
iteration 100
101

In [20]:
list_1=[10,11,12,13,14]

In [21]:
len(list_1)

5

In [ ]:
range(len(list_1))

In [22]:
for i in range(len(list_1)):
    print(i)

0
1
2
3
4

In [23]:
for i in range(len(list_1)):
    print('iteration',i)
    print(i+1)

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [24]:
list_1=['vijay','yeshwant','Krishna','Vishwa','Namitha']

In [25]:
for i in range(len(list_1)):
    print('iteration',i)
    print(i+1)

iteration 0
1
iteration 1
2
iteration 2
3
iteration 3
4
iteration 4
5

In [28]:
list_1=['vijay','yeshwant','Krishna','Vishwa','Namitha']

for i in range(len(list_1)):
    print(i)
    print(list_1[i])

0
vijay
1
yeshwant
2
Krishna
3
Vishwa
4
Namitha

In [ ]:
given two lists

list_1=[1,2,3,4,5,6,7,8,9]

list_2=[2,4,7]

if element present in list_2=[2,4,7]... then only print the elements of list_1

In [29]:

list_1=[1,2,3,4,5,6,7,8,9]

list_2=[2,4,7]

#printing each element of a list one by one
for i in list_1:
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
#printing each element of a list one by one
for i in list_1:
    if i in list_2:
        print(i)

2
4
7

In [31]:

list_1=[1,2,3,4,5,6,7,8,9]

list_2=[2,4,7]

#printing each element of a list one by one
for i in list_1:
    if i in list_2:
        print(i)

2
4
7

In [ ]:
for i in list_1:
    if i in list_2:
        print('iteration',i)
        print(i)

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9]

only even numbers print()

In [33]:
for i in list_1:
    if i%2==0:
        print(i)

2
4
6
8

In [34]:
for i in list_1:
    print('iteration',i)
    print('check',i)
    if i%2==0:
        print('even match')
        print(i)

iteration 1
check 1
iteration 2
check 2
even match
2
iteration 3
check 3
iteration 4
check 4
even match
4
iteration 5
check 5
iteration 6
check 6
even match
6
iteration 7
check 7
iteration 8
check 8
even match
8
iteration 9
check 9

In [35]:

Surge_Students=['Yeshwant','Ravi','Shristi','Vijay','Vishwa','Krishna','Namitha','Mahesh','Reshma']

Dayananda_Surge_Students=['Yeshwant','Vijay','Vishwa','Krishna','Namitha']

#printing each student of a list one by one
for i in Surge_Students:
    print(i)

Yeshwant
Ravi
Shristi
Vijay
Vishwa
Krishna
Namitha
Mahesh
Reshma

In [36]:

Surge_Students=['Yeshwant','Ravi','Shristi','Vijay','Vishwa','Krishna','Namitha','Mahesh','Reshma']

Dayananda_Surge_Students=['Yeshwant','Vijay','Vishwa','Krishna','Namitha']

#printing each student of a list one by one
for i in Surge_Students:
    if i in Dayananda_Surge_Students:
        print(i)

Yeshwant
Vijay
Vishwa
Krishna
Namitha

In [37]:
Surge_Students=['Yeshwant','Ravi','Shristi','Vijay','Vishwa','Krishna','Namitha','Mahesh','Reshma']

Dayananda_Surge_Students=['Yeshwant','Vijay','Vishwa','Krishna','Namitha']

#printing each student of a list one by one
for i in Surge_Students:
    print('check',i)
    if i in Dayananda_Surge_Students:
        print(i)

check Yeshwant
Yeshwant
check Ravi
check Shristi
check Vijay
Vijay
check Vishwa
Vishwa
check Krishna
Krishna
check Namitha
Namitha
check Mahesh
check Reshma

In [38]:
print(list_1)
for i in list_1:
    if i%2!=0:
        print('iteration',i)
        print(i+1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
iteration 1
2
iteration 3
4
iteration 5
6
iteration 7
8
iteration 9
10

In [39]:
print(list_1)
for i in list_1:
    if i%2==0:
        print('iteration',i)
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
iteration 2
2
iteration 4
4
iteration 6
6
iteration 8
8

In [40]:
list_1=[10,20,30,40,50]

for i in list_1:
    print(i)

10
20
30
40
50

In [41]:
list_1=[10,20,30,40,50]

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#we are generating indexes of a list

In [42]:
list_1=[10,20,30,40,50]

for i in range(len(list_1)):
    print(i)

0
1
2
3
4

In [46]:
list_1=[10,20,30,40,50]
for i in range(len(list_1)):
    print(i)
    print(list_1[i])

0
10
1
20
2
30
3
40
4
50

In [43]:
list_1=[10,20,30,40,50]

for i in range(len(list_1)):
    print('index',i)
    print('element',list_1[i])

index 0
element 10
index 1
element 20
index 2
element 30
index 3
element 40
index 4
element 50

In [47]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [48]:
Name='Surge Classes'

In [49]:
for i in Name:
    print(i)

S
u
r
g
e

C
l
a
s
s
e
s

In [50]:
for i in Name:
    print(i*2)

SS
uu
rr
gg
ee

CC
ll
aa
ss
ss
ee
ss

In [51]:
range(51)

range(0, 51)

In [52]:
for i in range(51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [54]:
#it prints 0 to 50 and 51(not included)

In [55]:
for i in range(51):
    print(i+1)
    
#it prints from 1 to 51

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [57]:
for i in range(1,52):
    print(i)
    
#it prints from 1 to 51

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [58]:
#print only even numbers btw 1 to 50

for i in range(51):
    print(i+1)
    
#it prints from 1 to 51

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [ ]:
expected result:
    
    2
    4
    6
    
    
    50

In [59]:
#print only even numbers btw 1 to 50

for i in range(51):
    if i%2==0:
        print(i)
    
#it prints from 1 to 51

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [60]:
#print only even numbers btw 1 to 50

for i in range(1,51):
    if i%2==0:
        print(i)
    
#it prints from 1 to 51

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [61]:
name='Surge Classes'

In [62]:
for i in name:
    print('iteration',i)
    print(i)

iteration S
S
iteration u
u
iteration r
r
iteration g
g
iteration e
e
iteration

iteration C
C
iteration l
l
iteration a
a
iteration s
s
iteration s
s
iteration e
e
iteration s
s

In [63]:
s='Surge Classes'  
len(s)

13

In [64]:
range(len(s))

range(0, 13)

In [ ]:
[0,1,2,3,4,5,6,7,8,9,10,11,12]

#these are indexes of each character in a string

s[1],s[3]

In [65]:
for i in range(len(s)):
    print('iteration',i)
    print(s[i])

iteration 0
S
iteration 1
u
iteration 2
r
iteration 3
g
iteration 4
e
iteration 5

iteration 6
C
iteration 7
l
iteration 8
a
iteration 9
s
iteration 10
s
iteration 11
e
iteration 12
s

In [ ]:
s='Surge Classes'  

range(len(s))

[0,1,2,3,..,12]

for i in range(len(s)):
    print(i)
    print(s[i])

1st iteration

s..... s[12]

i=0.....

2nd iteration

e

i=1..... s[11]

In [66]:
s

'Surge Classes'

In [67]:
for i in range(len(s)):
    print(len(s)-i-1)

12
11
10
9
8
7
6
5
4
3
2
1
0

In [68]:
for i in range(len(s)):
    print(len(s)-i-1)
    print(s[len(s)-i-1])

12
s
11
e
10
s
9
s
8
a
7
l
6
C
5

4
e
3
g
2
r
1
u
0
S

In [69]:
len(s)

13

In [70]:
range(len(s))

range(0, 13)

In [71]:
s

'Surge Classes'

In [ ]:
in first iteration i=0
13-i-1 = 12

12
s[12] = s
s


in second iteration i=1
13-i-1 = 11

11
s[11] = e
e

in third iteration i=2
13-i-1 = 10

10
s[10] = s
s


in third iteration i=1
13-i-1 = 11

11
s[11] = e
e

In [72]:
for i in range(len(s)):
    print('index',len(s)-i-1)
    print(s[len(s)-i-1])

index 12
s
index 11
e
index 10
s
index 9
s
index 8
a
index 7
l
index 6
C
index 5

index 4
e
index 3
g
index 2
r
index 1
u
index 0
S

In [73]:
for i in range(len(s)):
    #print('index',len(s)-i-1)
    print(s[len(s)-i-1])

s
e
s
s
a
l
C

e
g
r
u
S

In [74]:
s1='sessalC egruS'
for i in range(len(s1)):
    #print('index',len(s)-i-1)
    print(s1[len(s1)-i-1])

S
u
r
g
e

C
l
a
s
s
e
s

In [75]:
for i in range(50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [76]:
#print from 1 to 50
for i in range(50):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#where ever 7 is there in the number skip printing that number

7 skip
17 skip
27 skip

In [77]:
for i in range(1,50):
    if(i%10==7):
        print("Skip")
    else:
        print(i)

1
2
3
4
5
6
Skip
8
9
10
11
12
13
14
15
16
Skip
18
19
20
21
22
23
24
25
26
Skip
28
29
30
31
32
33
34
35
36
Skip
38
39
40
41
42
43
44
45
46
Skip
48
49

In [ ]:
1
2
3
4
5
6
skip
8
9


16
skip

In [ ]:
i =0

0+1 % 10 = 1

1==7 false

1

i =1

1+1 % 10 = 2

2==7 false

2

In [ ]:
num%10 == 7

In [ ]:
BODMAS

In [ ]:
6+1%10 == 7

6+1 == 7 True

16+1%10 == 7

16+1 == 7 False

(16+1)%10 == 7 True

In [78]:
for i in range(50):
    if i+1%10==7:
        print('skip')
    else:
        print(i+1)

1
2
3
4
5
6
skip
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(50):
    if i+1%10==7:
        print('skip')
    else:
        print(i+1)

In [ ]:
#print(17%10==7)
#print(7%10==7)
 
#when i= 16
print(16+1%10==7)

print(16+1%10) # we expect this value to be 7

#actually
1%10=1

16+1

#expecting
16+1

17%10

In [ ]:
#introduction of BoDMAS

In [79]:
for i in range(50):
    if (i+1)%10==7:
        print('skip')
    else:
        print(i+1)

1
2
3
4
5
6
skip
8
9
10
11
12
13
14
15
16
skip
18
19
20
21
22
23
24
25
26
skip
28
29
30
31
32
33
34
35
36
skip
38
39
40
41
42
43
44
45
46
skip
48
49
50

In [ ]:
list_1=[1,2,3,4]
list_2=[100,200,300]

expected result

101 100 +1
201 200 +1
301 300 +1
102 100 +2
202 200 +2
302
103
203
303
104
204
304

In [84]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1: #outer loop
    #print('outer loop iteration',i)
    for j in list_2: #inner loop
        #print('inner loop iteration',j)
        print(i+j)

101
201
301
102
202
302
103
203
303
104
204
304

In [85]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    print(i)

1
2
3
4

In [86]:
for i in list_2:
    print(i)

100
200
300

In [87]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    #outer loop
    print('outer loop',i)
    for j in list_2:
        #inner loop
        print('inner loop',j)

outer loop 1
inner loop 100
inner loop 200
inner loop 300
outer loop 2
inner loop 100
inner loop 200
inner loop 300
outer loop 3
inner loop 100
inner loop 200
inner loop 300
outer loop 4
inner loop 100
inner loop 200
inner loop 300

In [ ]:
i=1 j=100,200,300
i=2 j=100,200,300
i=3 j=100,200,300
i=4 j=100,200,300

4*3=12

In [88]:
for i in list_1:
    for j in list_2:
        print(i,j)

1 100
1 200
1 300
2 100
2 200
2 300
3 100
3 200
3 300
4 100
4 200
4 300

In [89]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    #outer loop
    print('outer loop',i)
    for j in list_2:
        #inner loop
        print('inner loop',j)
        
        print(i+j)

outer loop 1
inner loop 100
101
inner loop 200
201
inner loop 300
301
outer loop 2
inner loop 100
102
inner loop 200
202
inner loop 300
302
outer loop 3
inner loop 100
103
inner loop 200
203
inner loop 300
303
outer loop 4
inner loop 100
104
inner loop 200
204
inner loop 300
304

In [90]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    #outer loop
    
    for j in list_2:
        #inner loop
        print('outer loop',i)
        print('inner loop',j)
        
        print(i+j)

outer loop 1
inner loop 100
101
outer loop 1
inner loop 200
201
outer loop 1
inner loop 300
301
outer loop 2
inner loop 100
102
outer loop 2
inner loop 200
202
outer loop 2
inner loop 300
302
outer loop 3
inner loop 100
103
outer loop 3
inner loop 200
203
outer loop 3
inner loop 300
303
outer loop 4
inner loop 100
104
outer loop 4
inner loop 200
204
outer loop 4
inner loop 300
304

In [91]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    #outer loop
    print('outer loop',i)
    for j in list_2:
        #inner loop
        print('inner loop',j)
        
        print('sum',i+j)

outer loop 1
inner loop 100
sum 101
inner loop 200
sum 201
inner loop 300
sum 301
outer loop 2
inner loop 100
sum 102
inner loop 200
sum 202
inner loop 300
sum 302
outer loop 3
inner loop 100
sum 103
inner loop 200
sum 203
inner loop 300
sum 303
outer loop 4
inner loop 100
sum 104
inner loop 200
sum 204
inner loop 300
sum 304

In [92]:
list_1=[1,2,3,4]
list_2=[100,200,300]

for i in list_1:
    #outer loop
    
    for j in list_2:
        #inner loop
        print('outer loop',i)
        print('inner loop',j)
        
        print('sum',i+j)

outer loop 1
inner loop 100
sum 101
outer loop 1
inner loop 200
sum 201
outer loop 1
inner loop 300
sum 301
outer loop 2
inner loop 100
sum 102
outer loop 2
inner loop 200
sum 202
outer loop 2
inner loop 300
sum 302
outer loop 3
inner loop 100
sum 103
outer loop 3
inner loop 200
sum 203
outer loop 3
inner loop 300
sum 303
outer loop 4
inner loop 100
sum 104
outer loop 4
inner loop 200
sum 204
outer loop 4
inner loop 300
sum 304

In [93]:
for i in list_1:
    for j in list_2:
        print(i+j)

101
201
301
102
202
302
103
203
303
104
204
304

In [ ]:
#nested looping

In [94]:
for i in range(len(list_1)):
    for j in range(len(list_2)):
        print(i+j)

0
1
2
1
2
3
2
3
4
3
4
5

In [95]:
for i in range(len(list_1)):
    for j in range(len(list_2)):
        print(list_1[i]+list_2[j])

101
201
301
102
202
302
103
203
303
104
204
304

In [ ]:
list_1=[1,2,3]
list_2=[100,200,300]

#expected output=[101,202,303] adding corresponding elements of two lists

#corresponding elements of two lists have same index

In [96]:
for i in range(len(list_1)):
    for j in range(len(list_2)):
        print(list_1[i]+list_2[j])

101
201
301
102
202
302
103
203
303
104
204
304

In [97]:
for i in range(len(list_1)):
    for j in range(len(list_2)):
        if i==j:
            print(list_1[i]+list_2[j])

101
202
303

In [ ]:
music_1='srgmp'

music_2='aeaaa'

expected result

sa 
re 
ga 
ma 
pa

taking each character from music_1 and print it with corresponding character from music_2

'srgmp'

'aeaaa'

In [98]:
's'+'a'

'sa'

In [99]:
len('saanp')

5

In [ ]:
music_1='srgmp'

music_2='aeaaa'

for i in range(len(music_1)):
    for j in range(len(music_2)):
        if i==j:
            print(music_1[i]+music_2[j])