# <u>Python - Tuples :

In [ ]:
type([1,2,3,4])

In [ ]:
type('surge')

In [ ]:
type((1,2,3,4))

In [ ]:
type({1,2,3,4})

In [ ]:
Dict

Key: Value pair

In [ ]:
NonIterable datatypes

int float

Iterable datatypes
list,tuple,set,dict,str

In [ ]:
[1,2,3,4,5] list mutable

(1,2,3,4,5) tuple immutable

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses

In [ ]:
tup1 = ('Machine Learning', 'VLSI', 2017, 2020)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [ ]:
print(tup1)

In [ ]:
print(tup2)

In [ ]:
print(tup3)

The empty tuple is written as two parentheses containing nothing

In [ ]:
tup1 = ()

To write a tuple containing a single value you have to include a comma, even though there is only one value

In [ ]:
tup1 = (50,)

print(tup1)

In [ ]:
type(tup1)

In [ ]:
tup2=(50)

print(tup2)

In [ ]:
type(tup2)

### Accessing Values in Tuples<br>
To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index

In [ ]:
tup1 = ('machine learning', 'vlsi', 2017, 2020);

print ("tup1[0]: ", tup1[0])

In [ ]:

tup2 = (1, 2, 3, 4, 5, 6, 7 );

print ("tup2[1:5]: ", tup2[1:5])

## Updating Tuples<br>
Tuples are immutable which means you cannot update or change the values of tuple elements.

In [1]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
tup1[0] = 100;

TypeError: 'tuple' object does not support item assignment

In [2]:
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

### Delete Tuple Elements<br>
Removing individual tuple elements is not possible.

In [3]:
tup = ('machine learning', 'vlsi', 2017, 2020);
print (tup)

('machine learning', 'vlsi', 2017, 2020)

In [4]:
del(tup)
print ("After deleting tup : ")
print(tup)
#Will get error as the tuple doesnt exists anymore

After deleting tup :

NameError: name 'tup' is not defined

## Built-in Tuple Functions



len(tuple)->Gives the total length of the tuple.<br>

max(tuple)->Returns item from the tuple with max value.<br>

min(tuple)->Returns item from the tuple with min value.<br>

tuple(seq)->Converts a list into tuple<br>

In [5]:
tuple1, tuple2 = (123, 'surge', 'classes'), (456, 'machines')
#len of tuple
print("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [6]:
#min and max of tuple
tuple3=(1,2,3,4,5)
print ("Max tuple  : ", max(tuple3))
print ("min tuple  : ", min(tuple3))

Max tuple  :  5
min tuple  :  1

In [7]:
#Convert list to tuple
list1=[1,2,3,4]
print("List to tuple :",tuple(list1) )

List to tuple : (1, 2, 3, 4)

In [8]:
import pandas as pd
tup_df=pd.DataFrame({'names':['x','y','z'],'no':[1,2,3]})

In [9]:
tup_df

  names  no
0     x   1
1     y   2
2     z   3

In [10]:
tup_df.shape

(3, 2)

In [11]:
type(tup_df.shape)

tuple

In [13]:
tup_df.shape[1]

2

In [12]:
tup_df.shape[0]

3

# <u> Python - Sets :

### The sets in python are typically used for mathematical operations like union, intersection, difference and complement etc. We can create a set, access it’s elements and carry out these mathematical operations

## Creating a set

A set is created by using the set() function or placing all the elements within a pair of curly braces

In [14]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Tue', 'Sat', 'Mon', 'Fri', 'Wed', 'Sun', 'Thu'}
{'Feb', 'Mar', 'Jan'}
{17, 21, 22}

In [15]:
set_1={1,2,2,3,3,3,4}

set_1

{1, 2, 3, 4}

### Accessing Values in a Set
We cannot access individual values in a set. We can only access all the elements together as shown above. But we can also get a list of individual elements by looping through the set.

In [16]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])

In [17]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [18]:
Days[3]

TypeError: 'set' object is not subscriptable

In [19]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [20]:
for d in Days:
    print(d)

Tue
Sat
Mon
Fri
Wed
Sun
Thu

### Adding Items to a Set
We can add elements to a set by using add() method.

In [21]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
print(Days)

{'Tue', 'Sat', 'Mon', 'Fri', 'Wed', 'Thu'}

In [22]:
Days.add("Sun")
print(Days)

{'Tue', 'Sat', 'Mon', 'Fri', 'Wed', 'Sun', 'Thu'}

In [23]:
Days.add('Zero Day')

In [24]:
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed', 'Zero Day'}

### Removing Item from a Set
We can remove elements from a set by using discard() method. Again as discussed there is no specific index attached to the newly added element.

In [25]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
print('Printing before')
print(Days)
Days.discard("Mon")
print('Printing after')
print(Days)

Printing before
{'Tue', 'Sat', 'Mon', 'Fri', 'Wed', 'Thu'}
Printing after
{'Tue', 'Sat', 'Fri', 'Wed', 'Thu'}

### Union of Sets
The union operation on two sets produces a new set containing all the distinct elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [26]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Tue', 'Sat', 'Mon', 'Wed', 'Fri', 'Sun', 'Thu'}

### Intersection of Sets
The intersection operation on two sets produces a new set containing only the common elements from both the sets. In the below example the element “Wed” is present in both the sets.

In [27]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

### Difference of Sets
The difference operation on two sets produces a new set containing only the elements from the first set and none from the second set. In the below example the element “Wed” is present in both the sets so it will not be found in the result set.

In [28]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Tue', 'Mon'}

### Compare Sets
We can check if a given set is a subset or superset of another set. The result is True or False depending on the elements present in the sets.

In [29]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [ ]:
Knowledge Discovery and Interoperability

In [ ]:

Machine Communication

knowledge discovery

interoperability


XML

user defined tags....

<tag>value</tag>

GML
attribute.... value

SML

{'cus_id':123,'payment':'error'}

In [30]:
Student_dict={'Student_name': 'Jashank',
'Location': 'Hyd',
'Marks': 91}
    

#Key: Value
    
#JSON

In [31]:
type(Student_dict)

dict

In [32]:
Student_dict

{'Student_name': 'Jashank', 'Location': 'Hyd', 'Marks': 91}

In [33]:
for i in Student_dict:
    print(i)
    
#keys

Student_name
Location
Marks

In [34]:
for i in Student_dict.items():
    print(i)
    
#keys

each item is a key value pair... they are in the form of Tuple

('Student_name', 'Jashank')
('Location', 'Hyd')
('Marks', 91)

In [35]:
for i in Student_dict.items():
    print(i[0])

Student_name
Location
Marks

In [36]:
for i in Student_dict.items():
    print(i[1])

Jashank
Hyd
91

In [37]:
Student_dict.keys()

dict_keys(['Student_name', 'Location', 'Marks'])

In [39]:
list(Student_dict.keys())

['Student_name', 'Location', 'Marks']

In [38]:
Student_dict.values()

dict_values(['Jashank', 'Hyd', 91])

In [40]:
list(Student_dict.values())

['Jashank', 'Hyd', 91]

In [41]:
Student_dict['Student_name']

'Jashank'

In [ ]:
{'Name':'Vishwa','Roll':'SCDS00203','Marks':86}

keys: 'Name','Roll','Marks'
values: 'Vishwa','SCDS00203',86

In [ ]:
#
json _format

key value pair

{'keys':values}

{'key_1':value_1,
'key_2':value_2}

{'key_1':value_1,'key_2':value_2}

{item_1,item_2}


Dictionary

2500 variables

names has been changed

old_names

corresponding

new_names


new_names... list
old_names.... another list


mapping_dict

{'old_name':new_name}


replaced_strategy..... mapping_dict....

# <u>Python - Dictionary:

Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}

### Accessing Values in Dictionary
To access dictionary elements, you can use the familiar square brackets along with the key to obtain its value. Following is a simple example

In [42]:
dict_1 = {'Name': 'surge classes', 'Age': 1, 'Class': 'R&D'}

In [43]:
dict_1

{'Name': 'surge classes', 'Age': 1, 'Class': 'R&D'}

In [44]:
dict_1['Age']

1

In [45]:
dict_1['Class']

'R&D'

In [46]:
print ("dict_1['Name']: ", dict_1['Name'])
print ("dict_1['Age']: ", dict_1['Age'])

dict_1['Name']:  surge classes
dict_1['Age']:  1

In [47]:
type(('Name', 'surge classes'))

tuple

In [48]:
dict_1.keys()

dict_keys(['Name', 'Age', 'Class'])

In [49]:
dict_1.values()

dict_values(['surge classes', 1, 'R&D'])

In [50]:
print(list(dict_1.values()))

['surge classes', 1, 'R&D']

In [51]:
dict_1.items()

dict_items([('Name', 'surge classes'), ('Age', 1), ('Class', 'R&D')])

In [52]:
for var in dict_1.items():
    print(var)

('Name', 'surge classes')
('Age', 1)
('Class', 'R&D')

In [53]:
dict_1['Class']

'R&D'

In [54]:
for var in dict_1.items():
    print(var)
    print(var[0])

('Name', 'surge classes')
Name
('Age', 1)
Age
('Class', 'R&D')
Class

In [ ]:
for var in dict_1.items():
    print(var)
    print(var[0])

In [55]:
for var in dict_1.items():
    print(var)
    if var[0]=='Class':
        print(var[1])

('Name', 'surge classes')
('Age', 1)
('Class', 'R&D')
R&D

In [56]:
# Output: ['English', 'Math', 'Science']
print(list(sorted(dict_1.keys())))

['Age', 'Class', 'Name']

In [ ]:
"""
company_1=['surge classes',1,'R&D']
company_2=['upgrad',6,'edtech']

### Updating Dictionary
You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry as shown below in the simple example −

In [57]:
dict = {'Name': 'surge', 'Age': 1, 'Class': 'R&D'}

print(dict)

{'Name': 'surge', 'Age': 1, 'Class': 'R&D'}

In [58]:
dict['Age'] = 8; # update existing entry

In [59]:
print(dict)

{'Name': 'surge', 'Age': 8, 'Class': 'R&D'}

In [60]:
dict['location'] = "Bangalore"; # Add new entry

In [61]:
print(dict)

{'Name': 'surge', 'Age': 8, 'Class': 'R&D', 'location': 'Bangalore'}

In [62]:
print ("dict['Age']: ", dict['Age'])
print ("dict['location']: ", dict['location'])

dict['Age']:  8
dict['location']:  Bangalore

### Delete Dictionary Elements
You can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation.

To explicitly remove an entire dictionary, just use the del statement

In [63]:
dict = {'Name': 'surge', 'Age': 1, 'Class': 'R&D'}

In [64]:
dict

{'Name': 'surge', 'Age': 1, 'Class': 'R&D'}

In [65]:
del dict['Name']; # remove entry with key 'Name'

In [66]:
dict

{'Age': 1, 'Class': 'R&D'}

In [67]:
dict.clear();     # remove all entries in dict

In [68]:
dict

{}

In [69]:
dict_1={'doubt':'looping','count':4}

In [70]:
del dict_1 ;     # delete entire dictionary

In [71]:
dict_1

NameError: name 'dict_1' is not defined

### Properties of Dictionary Keys

More than one entry per key not allowed. Which means no duplicate key is allowed. When duplicate keys encountered during assignment, the last assignment wins.

In [72]:
dict = {'Name': 'surge classes', 'Age': 1, 'Name': 'jalla labs pvt. ltd.'}

print(dict)
print ("dict['Name']: ", dict['Name'])

{'Name': 'jalla labs pvt. ltd.', 'Age': 1}
dict['Name']:  jalla labs pvt. ltd.

Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed. Following is a simple example −

In [73]:
dict = {['Name']: 'Zara', 'Age': 7}
print("dict['Name']: ", dict['Name'])
#the following gives an error

TypeError: unhashable type: 'list'

In [74]:
dict = {'Name': 'Zara', 'Age': 7}
print("dict['Name']: ", dict['Name'])
#the following gives an error

dict['Name']:  Zara

In [75]:
my_dict={'Students':['Reshma','Namitha','Shristi','Mahesh','Ravi','Yeshwant','Vishwa','Vijay','Krishna'],'Roll':[1,2,3,4,5,6,7,8,9]}

In [76]:
my_dict

{'Students': ['Reshma',
  'Namitha',
  'Shristi',
  'Mahesh',
  'Ravi',
  'Yeshwant',
  'Vishwa',
  'Vijay',
  'Krishna'],
 'Roll': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [77]:
my_dict={1:['Reshma','Namitha','Shristi','Mahesh','Ravi','Yeshwant','Vishwa','Vijay','Krishna'],2:[1,2,3,4,5,6,7,8,9]}

In [78]:
my_dict

{1: ['Reshma',
  'Namitha',
  'Shristi',
  'Mahesh',
  'Ravi',
  'Yeshwant',
  'Vishwa',
  'Vijay',
  'Krishna'],
 2: [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [79]:
import pandas as pd

my_df=pd.DataFrame(my_dict)

In [80]:
my_df.head(9)

          1  2
0    Reshma  1
1   Namitha  2
2   Shristi  3
3    Mahesh  4
4      Ravi  5
5  Yeshwant  6
6    Vishwa  7
7     Vijay  8
8   Krishna  9

In [81]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

In [82]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

In [ ]:
If we use the square brackets [], KeyError is raised in case a key is not found in the dictionary. 
On the other hand, the get() method returns None if the key is not found.

In [83]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

Jack

In [84]:
my_dict

{'name': 'Jack', 'age': 26}

In [85]:
my_dict['name']

'Jack'

In [86]:
# Output: 26
print(my_dict.get('age'))

26

In [87]:
# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

None

In [88]:
# KeyError
print(my_dict['address'])

KeyError: 'address'

In [ ]:
"""
We can remove a particular item in a dictionary by using the pop() method. 

This method removes an item with the provided key and returns the value.

The popitem() method can be used to remove and return an arbitrary (key, value) item pair from the dictionary.

In [89]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
# Output: 16
print(squares.pop(4))

16

In [90]:
# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

{1: 1, 2: 4, 3: 9, 5: 25}

In [91]:
# remove an arbitrary item, return (key,value)
# Output: (5, 25)
print(squares.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(squares)

(5, 25)
{1: 1, 2: 4, 3: 9}

In [ ]:




# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

In [92]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [93]:
for item in marks.items():
    print(item)
    
# Output: ['English', 'Math', 'Science']
print(list(sorted(marks.keys())))

print(list(marks.values()))

('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']
[0, 0, 0]

In [ ]:
We can iterate through each key in a dictionary using a for loop

In [94]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81