In [1]:
#1 Print First 10 //natural numbers// using while loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
#2 Print the following pattern
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
#3  Accept number from user and calculate the sum of all number from 1 to a given number
num=int(input("enter the number:"))
print((num*(num+1))/2)

enter the number:10
55.0

In [4]:
#4 Print multiplication table of a given number
num=int(input("enter the number:"))
for i in range (1,11):
    print(i*num)

enter the number:2
2
4
6
8
10
12
14
16
18
20

In [5]:
#5 Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if(i>150):
        break
    if(i%5==0):
        print(i)

15
55
75
150

In [10]:
#6 Given a number count the total number of digits in a number
#For example, the number is 75869, so the output should be 5.
num=int(input("enter the num:"))
t=0
while num>0:
    t+=1
    num=num//10
    
print(t)

enter the num:76543
5

In [11]:
#7) Print the following pattern using for loop
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
#8) Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1, -1,-1):
    print(list1[i])

50
40
30
20
10

In [17]:
#09
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [18]:
#10
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [19]:
#11
start = 25
end = 50

print(f"Prime numbers between {start} and {end} are:")

for num in range(start, end + 1):
    # prime numbers are greater than 1
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [20]:
#12
num1, num2 = 0, 1
count = 0
terms = 10
if terms <= 0:
    print("Please enter a positive integer")
elif terms == 1:
    print("Fibonacci sequence upto",terms,":")
    print(num1)
else:
    print("Fibonacci sequence:")
    while count < terms:
        print(num1, end=' ')
        nth = num1 + num2
        num1 = num2
        num2 = nth
        count += 1

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [21]:
#13
num = 5
factorial = 1

for i in range(1, num+1):
    factorial *= i

print(factorial)

120

In [22]:
#14
num = 76542
reverse_num = 0
while num > 0:
    rem = num % 10
    reverse_num = (reverse_num * 10) + rem
    num = num // 10
print(reverse_num)

24567

In [23]:
#15
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1, len(my_list), 2):
    print(my_list[i], end=" ")

20 40 60 80 100

In [24]:
#16
input_number = 6
for i in range(1, input_number+1):
    cube = i ** 3
    print(f"Current Number is : {i} and the cube is {cube}")

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

In [26]:
#17
number_of_terms = 5
series_sum = 0
term = 2

for i in range(number_of_terms):
    series_sum += term
    term = term * 10 + 2

print(series_sum)

24690

In [27]:
#18
max_stars = 5
for i in range(max_stars + 1):
    print('* ' * i)
for i in range(max_stars - 1, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*