In [6]:
import pandas as pd
import numpy as np

data = np.random.rand(6, 3) 
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])

print(df)

    Column1   Column2   Column3
0  0.777138  0.531739  0.033487
1  0.424387  0.414489  0.262951
2  0.379413  0.835556  0.255725
3  0.011564  0.836025  0.464318
4  0.749234  0.505924  0.412963
5  0.777092  0.763009  0.070714

In [7]:
import pandas as pd  
  
data = {'col 1': ['Surge', 'classes', 'AI', 'DS'], 'col 2': [20, 21, 19, 18]}  

df = pd.DataFrame(data)  
      
print(df)

     col 1  col 2
0    Surge     20
1  classes     21
2       AI     19
3       DS     18

In [8]:
import pandas as pd

market_df=pd.read_csv("market_fact.csv")

In [9]:
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [10]:
shipping_df=pd.read_csv("shipping_dimen.csv")
shipping_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
...        ...             ...         ...       ...
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [11]:
orders_df=pd.read_csv("orders_dimen.csv")
orders_df

      Order_ID  Order_Date Order_Priority    Ord_id
0            3  13-10-2010            LOW     Ord_1
1          293  01-10-2012           HIGH     Ord_2
2          483  10-07-2011           HIGH     Ord_3
3          515  28-08-2010  NOT SPECIFIED     Ord_4
4          613  17-06-2011           HIGH     Ord_5
...        ...         ...            ...       ...
5501     47360  08-10-2010  NOT SPECIFIED  Ord_5502
5502     52706  09-07-2012            LOW  Ord_5503
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

[5506 rows x 4 columns]

In [12]:
prod_df=pd.read_csv("prod_dimen.csv")
prod_df

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [13]:
cust_df=pd.read_csv("cust_dimen.csv")
cust_df

           Customer_Name Province   Region Customer_Segment    Cust_id
0     MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS     Cust_1
1           BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     Cust_2
2          CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     Cust_3
3         CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     Cust_4
4           CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     Cust_5
...                  ...      ...      ...              ...        ...
1827      NICOLE BRENNAN  ALBERTA     WEST         CONSUMER  Cust_1828
1828       JASON FORTUNE  ALBERTA     WEST        CORPORATE  Cust_1829
1829        HARRY GREENE  ALBERTA     WEST        CORPORATE  Cust_1830
1830     GRANT DONATELLI  ALBERTA     WEST         CONSUMER  Cust_1831
1831          MICK BROWN  ALBERTA     WEST         CONSUMER  Cust_1832

[1832 rows x 5 columns]

In [14]:
market_df[market_df.Order_Quantity<25]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
...,...,...,...,...,...,...,...,...,...,...
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62

In [15]:
df1=pd.merge(market_df,cust_df,on='Cust_id',how='inner')
df1

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38,YOSEPH CARROLL,ALBERTA,WEST,CONSUMER

In [18]:
df2=pd.merge(market_df,prod_df,on='Prod_id',how='inner')
df2

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX

In [39]:
df1['Customer_Segment'].value_counts()

CORPORATE         24226
HOME OFFICE       17244
SMALL BUSINESS    11952
CONSUMER          11707
Name: Customer_Segment, dtype: int64

In [19]:
df2.pivot_table(values="Shipping_Cost",index="Product_Sub_Category",aggfunc="mean")

                                Shipping_Cost
Product_Sub_Category
APPLIANCES                          15.792880
BINDERS AND BINDER ACCESSORIES       7.249749
BOOKCASES                           45.746402
CHAIRS & CHAIRMATS                  40.188316
COMPUTER PERIPHERALS                 5.365884
COPIERS AND FAX                     28.125057
ENVELOPES                            6.840528
LABELS                               1.002292
OFFICE FURNISHINGS                  10.663350
OFFICE MACHINES                     21.174807
PAPER                                6.460743
PENS & ART SUPPLIES                  3.225608
RUBBER BANDS                         1.258156
SCISSORS, RULERS AND TRIMMERS        4.656319
STORAGE & ORGANIZATION              17.920348
TABLES                              57.291440
TELEPHONES AND COMMUNICATION         5.483250