In [1]:
#1
def print_name_age(name, age):
    print("Name:", name)
    print("Age:", age)
print_name_age("Nandhu", 20)

Name: Nandhu
Age: 20

In [2]:
#2
def func1(*args):
    for arg in args:
        print(arg)
func1(20, 40, 60)

20
40
60

In [3]:
func1(80, 100)

80
100

In [4]:
#3
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    return addition, subtraction
res = calculation(40, 10)
print(res)

(50, 30)

In [5]:
#4
def showEmployee(name, salary=9000):
    print("Employee Name:", name)
    print("Salary:", salary)
showEmployee("Krishna")
showEmployee("Swamy", 12000)

Employee Name: Krishna
Salary: 9000
Employee Name: Swamy
Salary: 12000

In [6]:
#5
def outer_function(a, b):
    def inner_function(a, b):
        return a + b
    addition = inner_function(a, b)
    return addition + 5
result = outer_function(10, 20)
print(result)

35

In [7]:
#6
def recursive_sum(n):
    if n == 0:
        return 0
    else:
        return n + recursive_sum(n-1)
result = recursive_sum(10)
print(result)

55

In [8]:
#7
def displayStudent(name, age):
    print(name, age)
showStudent = displayStudent
showStudent("Chimtu", 16)

Chimtu 16

In [9]:
#8
even_numbers = [num for num in range(4, 31) if num % 2 == 0]
print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [10]:
#9
aList = [4, 6, 8, 24, 12, 2]
largest_item = max(aList)
print(largest_item)

24